<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_sire_root" name="SIRE"
              parent="al_account_base.al_l10n_pe_root"
              groups="account.group_account_readonly"
              sequence="55"/>

    <menuitem id="menu_sire_rvie" name="Ventas (RVIE)"
              parent="menu_sire_root" action="action_sire_rvie" sequence="10"/>

    <menuitem id="menu_sire_rce" name="Compras (RCE)"
              parent="menu_sire_root" action="action_sire_rce" sequence="20"/>

    <menuitem id="menu_sire_compare_field" name="SIRE: campos de comparación"
              parent="al_account_base.al_l10n_pe_config"
              action="action_sire_compare_field"
              groups="account.group_account_manager"
              sequence="60"/>

</odoo>
