<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Perú ▸ Factoring, con el patrón de Detracciones. -->
    <menuitem id="menu_factoring_root" name="Factoring"
              parent="al_account_base.al_l10n_pe_root"
              groups="account.group_account_invoice"
              sequence="25"/>
    <menuitem id="menu_factoring_operations" name="Operaciones"
              parent="menu_factoring_root" action="action_factoring" sequence="10"/>
    <menuitem id="menu_factoring_lines" name="Facturas cedidas"
              parent="menu_factoring_root" action="action_factoring_lines" sequence="20"/>
    <menuitem id="menu_factoring_analysis" name="Análisis de factoring"
              parent="menu_factoring_root" action="action_factoring_analysis" sequence="30"/>
    <menuitem id="menu_factoring_cost" name="Costo financiero"
              parent="menu_factoring_root" action="action_factoring_cost" sequence="40"/>

    <menuitem id="menu_factoring_account_config" name="Factoring"
              parent="al_account_base.al_l10n_pe_config_accounts"
              action="action_factoring_account_config"
              groups="account.group_account_manager" sequence="30"/>
</odoo>
