<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Perú ▸ Tesorería ▸ Depósitos y garantías, con el patrón de Detracciones. -->
    <menuitem id="menu_treasury_root" name="Tesorería"
              parent="al_account_base.al_l10n_pe_root"
              groups="account.group_account_user"
              sequence="27"/>
    <menuitem id="menu_term_deposit" name="Depósitos y garantías"
              parent="menu_treasury_root" action="action_term_deposit" sequence="10"/>
    <menuitem id="menu_term_deposit_analysis" name="Análisis de depósitos"
              parent="menu_treasury_root" action="action_term_deposit_analysis" sequence="20"/>

    <menuitem id="menu_term_deposit_account_config" name="Depósitos y garantías"
              parent="al_account_base.al_l10n_pe_config_accounts"
              action="action_term_deposit_account_config"
              groups="account.group_account_manager" sequence="35"/>
</odoo>
